
<div>

    <h2>Hello, <%= user.email%> :)</h2>
    <a href="/posts/read">Home</a>
    
    

</div>
<style>

div{
    width: 600px;
    text-align: center;
    padding: 60px;
    margin: 49px;
    border: 2px solid black;
    margin-left: 25%;
}

a{
        font-size: 25px;
    }

</style>